langchain_core==0.3.64
langchain==0.3.25
langchain-community==0.3.24
langchain-google-genai==2.1.5
langgraph==0.4.8
langsmith==0.3.45
beautifulsoup4
python-dotenv
requests
duckduckgo_search
uvicorn
websockets 
fastapi
wikipedia
